U4/XSD/Tarea3.3.1.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="garderia">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="neno" type="tipoNeno"/>
                <xs:element name="2" type="2"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="tipoNeno">
        <xs:sequence>
            <xs:element name="nome" type="xs:string"/>
            <xs:element name="dataNacemento" type="xs:date"/>
            <xs:element name="peso" type="xs:decimal"/>
            <xs:element name="altura" type="xs:decimal"/>
            <xs:element name="vacunas" type="xs:boolean"/>
        </xs:sequence>
        <xs:attribute name="numeroExpedente" type="xs:unsignedShort"/>
    </xs:complexType>
    
    <xs:complexType name="2">
        <xs:sequence>
            <xs:element name="nome" type="xs:string"/>
            <xs:element name="dataNacemento" type="xs:date"/>
            <xs:element name="peso" type="xs:decimal"/>
            <xs:element name="altura" type="xs:decimal"/>
            <xs:element name="vacunas" type="xs:boolean"/>
        </xs:sequence>
        <xs:attribute name="numeroExpedente" type="xs:unsignedShort"/>
    </xs:complexType>
</xs:schema>








<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="garderia">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="neno" type="tipoNeno"/>
                <xs:complexType name="tipoNeno">
                    <xs:sequence>
                        <xs:element name="nome" type="xs:string"/>
                        <xs:element name="dataNacemento" type="xs:date"/>
                        <xs:element name="peso" type="xs:decimal"/>
                        <xs:element name="altura" type="xs:decimal"/>
                        <xs:element name="vacunas" type="xs:boolean"/>
                    </xs:sequence>
                    <xs:attribute name="numeroExpedente" type="xs:unsignedShort"/>
                </xs:complexType>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>







<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="garderia">
        <xs:complexType name='neno' type="tipoNeno">
            <xs:sequence>
                <xs:element name="nome" type="xs:string"/>
                <xs:element name="dataNacemento" type="xs:date"/>
                <xs:element name="peso" type="xs:decimal"/>
                <xs:element name="altura" type="xs:decimal"/>
                <xs:element name="vacunas" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
        <xs:attribute name="numeroExpedente" type="xs:unsignedShort"/>
    </xs:element>
</xs:schema>